<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527674556711-t20ap0dr8rebk5r8v1c144h35fdrh46v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527674556711-t20ap0dr8rebk5r8v1c144h35fdrh46v</string>
	<key>API_KEY</key>
	<string>AIzaSyC7lYp30mFwd7wr04Degot-Ozf-i9bDr6g</string>
	<key>GCM_SENDER_ID</key>
	<string>527674556711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maina.eFitness</string>
	<key>PROJECT_ID</key>
	<string>e-fitness-app-7caef</string>
	<key>STORAGE_BUCKET</key>
	<string>e-fitness-app-7caef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527674556711:ios:74965e0bf88824523a2902</string>
</dict>
</plist>